html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #f8f9fa;
}}

.container, .row {
	top: -20px;
	max-height: calc(100% - 50px);
}

.user-list {
  margin: 0;
  padding: 5px;
  background: white;
  background-color: white;
}

.user-list button {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
}

main, #messages-card {
  height: 100%;
  padding-bottom: 0;
}

#messages-card-container {
  height: calc(100% - 35px);
  padding-bottom: 0;
}

#messages-card {
  height: calc(100% - 200px);
}

.mdl-grid {
  max-width: 544px;
  margin: auto;
}

.card__supporting-text {
  width: auto;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

#messages {
  overflow-y: auto;
  margin-bottom: 10px;
  /* height: calc(100% - 80px); */
  height: 440px;
  display: flex;
  flex-direction: column;
}

#message-filler {
  flex-grow: 1;
}

.message-container:first-of-type {
  border-top-width: 0;
}

.message-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.message-container.visible {
  opacity: 1;
}

.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}

.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}

.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}

#message-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

#message-form .textfield {
  width: calc(100% - 100px);
}

#message-form input {
  width: 100%;
  height: calc(100% - 15px);
  margin: 15px 0 0 0;
  font-size: 1em;
}

#message-form button {
  width: 100px;
  margin: 15px 0 0 10px;
}

main, #card {
  height: 100%;
  padding-bottom: 0;
  margin-top: 15px;
}

.card {
  max-width: 100%;
  min-height: 0;
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}