@charset "UTF-8";

header {
	text-align: center;
	background-color: #81BEF7;
	height: 100px;
	line-height: 100px;
}

.center {
	table-align: center;
	text-align: center;
}

.right {
	color: #FFFC00;
	text-align: right;
	margin: 70px;
}

.btn {
	width: 200px;
	height: 42px;
	line-height: 45px;
	padding-top: 10px;
}

.btn a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	background: #0099FF;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 5px 5px 0px 0px #DEDEDE;
}

table.waku {
	width: 800px;
	table-align: center;
	text-align: center;
	border-collapse: collapse;
	table-align: center;
}

tr.line {
	border-bottom: ipx
}